body {
    font-family: Arial, sans-serif;
    background-image: url('../image/Diabetes.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: small;
}
.form-container {
    background-color: rgba(253, 241, 241, 0.9); /* Slightly transparent background */
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 15px;
}
input {
    width: 90%;
    padding: 6px;
    margin-left: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px;
    width: 93%;
    margin-left: 15px;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    background-color: green;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.4s;
}

.modal-content {
    margin: 15% auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.5s;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
